h3 {
    color: #666;
}
div{
    background-color: aqua;
    padding-top: 10px;
    padding-bottom: 10px;
}

.botoes {
    /* background-color: blueviolet;
    color: aliceblue;
    /* top, right, bottom, left */
    /* padding: 10px 5px 10px 5px;  */
}

#btn1{
    font-size: 15px;
    color: aquamarine;
    background-color: blanchedalmond;
    padding: 10px 5px 10px 5px;
}

#btn2{
    font-size: 10px;
    color: red;
    background-color: blue;
    padding: 10px 5px 10px 5px;
}

#btn3 {
    font-size: 15px;
    color: blanchedalmond;
    background-color: gold;
    padding: 10px 5px 10px 5px;
}